# Dependencies.
node_modules

# Environment variables.
.env

# Host volumes.
volumes

# Assets.
authentication/public/avatars/*
authentication/public/social-networks/*
!authentication/public/avatars/.gitkeep
!authentication/public/social-networks/.gitkeep